{% extends "base.html" %}

{% block content %}
<script>
    function toggleContenido() {


  const miDiv = document.querySelector('[data-target="bodyContainer1"]');
  


  const estaExpandido = miDiv.classList.contains('expandable__expanded');

  if (estaExpandido) {

    // Acciones para ocultar
    miDiv.classList.remove('expandable__expanded');
    miDiv.setAttribute('data-testid', 'VTC7M0-benefits-description-hidden');
    miDiv.style.maxHeight = '0px';
  } else {

    // Acciones para mostrar
    miDiv.classList.add('expandable__expanded');
    miDiv.setAttribute('data-testid', 'VTC7M0-benefits-description-visible');
    
    // Nota: A veces '100vh' hace que se vea mal o salte la pantalla. 
    // Usar un valor en píxeles grande (como 1000px) suele dar una animación más fluida.
    miDiv.style.maxHeight = '1000px'; 
  }
}

    function toggleContenido2() {


  const miDiv = document.querySelector('[data-target="bodyContainer2"]');
  


  const estaExpandido = miDiv.classList.contains('expandable__expanded');

  if (estaExpandido) {

    // Acciones para ocultar
    miDiv.classList.remove('expandable__expanded');
    miDiv.setAttribute('data-testid', 'VTC7M0-benefits-description-hidden');
    miDiv.style.maxHeight = '0px';
  } else {

    // Acciones para mostrar
    miDiv.classList.add('expandable__expanded');
    miDiv.setAttribute('data-testid', 'VTC7M0-benefits-description-visible');
    
    // Nota: A veces '100vh' hace que se vea mal o salte la pantalla. 
    // Usar un valor en píxeles grande (como 1000px) suele dar una animación más fluida.
    miDiv.style.maxHeight = '1000px'; 
  }
}

    function toggleContenido3() {


  const miDiv = document.querySelector('[data-target="bodyContainer3"]');
  


  const estaExpandido = miDiv.classList.contains('expandable__expanded');

  if (estaExpandido) {

    // Acciones para ocultar
    miDiv.classList.remove('expandable__expanded');
    miDiv.setAttribute('data-testid', 'VTC7M0-benefits-description-hidden');
    miDiv.style.maxHeight = '0px';
  } else {

    // Acciones para mostrar
    miDiv.classList.add('expandable__expanded');
    miDiv.setAttribute('data-testid', 'VTC7M0-benefits-description-visible');
    
    // Nota: A veces '100vh' hace que se vea mal o salte la pantalla. 
    // Usar un valor en píxeles grande (como 1000px) suele dar una animación más fluida.
    miDiv.style.maxHeight = '1000px'; 
  }
}



</script>


<div thirdpartyrechargeenabled="true" id="root">
	<div class="page-recharge-body">
		<div class="page-recharge-tarjeta">
			<div class="row">
				<header class="header">
                    
					<p class="header__title">Ingresar nueva tarjeta</p>
                    

				</header>
				<div class="page-recharge-tarjeta">
					<div class="row">
						<header class="header">
                            <a href="" ><img src="{{ url_for('static', filename='/img/icono-home-256.png') }}" style="width: 40px; height:40px;" alt=""></a>
							 
							<p class="header__title">Recarga con tarjeta</p>
                            <div class="number_container"><p class="number_user_letter">{{ number }}</p></div>
                            
						</header>
						<div class="row">
    <h2 class="title__tarjeta title__tarjeta--small">¿Cuánto quéres recargar?</h2>
    <div id="recharge-amounts-banner-personalizado">
        <picture
            ><source
                data-testid="banner-incentivo-picture-mobile"
                media="(max-width: 768px)"
                srcset="https://landing.claro.com.ar/p/portal-compras/incentivo-monto-recarga-pp-default-mobile.jpg" />
            <source
                data-testid="banner-incentivo-picture-desktop"
                media="(min-width: 769px)"
                srcset="https://landing.claro.com.ar/p/portal-compras/incentivo-monto-recarga-pp-default-desktop.jpg" />
            <img
                data-testid="banner-incentivo-image"
                class="banner-prepago"
                src="https://landing.claro.com.ar/p/portal-compras/incentivo-monto-recarga-pp-default-mobile.jpg"
                alt=""
        /></picture>
    </div>
    
    <div class="GenericRechargeAmountsPage_recharge-amounts__1L9X-">
        <ol>
            <li data-testid="recharge-amounts-item" class="GenericRechargeAmountsPage_border-top__3Xm1B">
                <form action="/recharge-view" method="POST">
                <div class="AmountListItem_container__FB-vP">
                    <div class="AmountListItem_amount__3pQq5">
                        <span data-testid="VTC7M0">$ 7.000</span
                        ><button
                            type="button"
                            data-testid="VTC7M0-benefits-button"
                            class="AmountListItem_amount-benefits-button__1kdiF"
                            onclick="toggleContenido()"
                        >
                            Esta recarga incluye
                            <img class="AmountListItem_amount-benefits-button-arrow__1PVFc AmountListItem_arrow-margin-top__2B9Zz Arrow_arrow__2AYAU Arrow_down__28ZUi" src="{{ url_for('static', filename='/img/arrow.svg') }}" alt="">
                        </button>
                    </div>
                    <div
                        data-testid="cashback-label"
                        class="CashbackLabel_label__container__33QLn AmountListItem_container__cashback-label__g1xDD"
                    >
                        <div class="CashbackLabel_label__percentage__3x1CS">50%</div>
                        <img
                            class="CashbackLabel_label__image__1hXsV"
                            src="{{ url_for('static', filename='/img/cash-back.svg') }}" 
                            alt="Cashback"
                        />
                    </div>
                    <button
                        type="submit"
                        value="7000"
                        name="monto"
                        class="Button-module_button__PM45p"
                        tabindex="0"
                        data-testid="VTC7M0-recargar"
                        style="border-radius: 6px"

                    >
                        <span class="Button-module_button__text__wL8gL">Recargar</span>
                    </button>
                </div>
                <div class="Expandable-module_expandable__section__jBemc">
    
    <div
        class="Expandable-module_expandable__content__KkpAI"
        data-target="bodyContainer1"
        data-testid="VTC7M0-benefits-description-hidden"
        style="max-height: 0px; overflow: hidden; transition: max-height 0.3s ease;"
    >
        <div class="AmountBenefitsDescription_amount-benefits-description__1x3B-">
            <div data-testid="free_nights_benefit" class="RechargeAmountBenefits_benefit__JqypB">
                <div class="RechargeAmountBenefits_benefit-icon__1CDkF">
                    <img alt="Pack noche" src="{{ url_for('static', filename='img/noches-libres.svg') }}" height="20px" />
                </div>
                <p class="RechargeAmountBenefits_benefit-description__S9Ok5">Noches Libres</p>
            </div>
            
            <div data-testid="social_media_benefit" class="RechargeAmountBenefits_benefit__JqypB">
                <div class="RechargeAmountBenefits_benefit-icon__1CDkF">
                    <img alt="Redes sociales" src="{{ url_for('static', filename='img/logo_redes_sociales_gratis.svg') }}" height="14px" />
                </div>
                <p class="RechargeAmountBenefits_benefit-description__S9Ok5">10GB para Redes Sociales por 30 dias</p>
            </div>
            
            <div data-testid="wp_benefit" class="RechargeAmountBenefits_benefit__JqypB">
                <div class="RechargeAmountBenefits_benefit-icon__1CDkF">
                    <img alt="WhatsApp Gratis" src="{{ url_for('static', filename='img/logo_whatsappgratis.png') }}" height="25px" />
                </div>
                <p class="RechargeAmountBenefits_benefit-description__S9Ok5">WhatsApp por 30 días</p>
            </div>
            
            <div data-testid="voice_benefit" class="RechargeAmountBenefits_benefit__JqypB">
                <div class="RechargeAmountBenefits_benefit-icon__1CDkF">
                    <img alt="Beneficio de Llamadas" src="{{ url_for('static', filename='img/voice.png') }}" height="32px" />
                </div>
                <p class="RechargeAmountBenefits_benefit-description__S9Ok5">Llamadas Ilimitadas por 30 días</p>
            </div>
            
            <div data-testid="extra_data_benefit" class="RechargeAmountBenefits_benefit__JqypB">
                <div class="RechargeAmountBenefits_benefit-icon__1CDkF">
                    <img alt="Datos Extra" src="{{ url_for('static', filename='img/datos_extra.png') }}" class="RechargeAmountBenefits_extra-data-icon__2AsE1" height="22px" />
                </div>
                <p class="RechargeAmountBenefits_benefit-description__S9Ok5">10GB por 30 días</p>
            </div>
        </div>
    </div>

    
    
</div>
            </li>
            <li data-testid="recharge-amounts-item" class="GenericRechargeAmountsPage_border-top__3Xm1B">
                <div class="AmountListItem_container__FB-vP">
                    <div class="AmountListItem_amount__3pQq5">
                        <span data-testid="VTC5M0">$ 5.000</span
                        ><button
                            data-testid="VTC5M0-benefits-button"
                            type="button"
                            class="AmountListItem_amount-benefits-button__1kdiF"
                            onclick="toggleContenido2()"
                        >
                            Esta recarga incluye
                            <img class="AmountListItem_amount-benefits-button-arrow__1PVFc AmountListItem_arrow-margin-top__2B9Zz Arrow_arrow__2AYAU Arrow_down__28ZUi" src="{{ url_for('static', filename='/img/arrow.svg') }}" alt="">
                        
                        </button>
                    </div>
                    <div
                        data-testid="cashback-label"
                        class="CashbackLabel_label__container__33QLn AmountListItem_container__cashback-label__g1xDD"
                    >
                        <div class="CashbackLabel_label__percentage__3x1CS">50%</div>
                        <img
                            class="CashbackLabel_label__image__1hXsV"
							src="{{ url_for('static', filename='img/cash-back.svg') }}"
                            alt="Cashback"
                        />
                    </div>
                    <button
                        type="submit"
                        value="5000"
                        name="monto"
                        class="Button-module_button__PM45p"
                        tabindex="0"
                        data-testid="VTC5M0-recargar"
                        style="border-radius: 6px"
                    >
                        <span class="Button-module_button__text__wL8gL">Recargar</span>
                    </button>
                </div>
                <div
        class="Expandable-module_expandable__content__KkpAI"
        data-target="bodyContainer2"
        data-testid="VTC7M0-benefits-description-hidden"
        style="max-height: 0px; overflow: hidden; transition: max-height 0.3s ease;"
    >
        <div class="AmountBenefitsDescription_amount-benefits-description__1x3B-">
            
            
            <div data-testid="social_media_benefit" class="RechargeAmountBenefits_benefit__JqypB">
                <div class="RechargeAmountBenefits_benefit-icon__1CDkF">
                    <img alt="Redes sociales" src="{{ url_for('static', filename='img/logo_redes_sociales_gratis.svg') }}" height="14px" />
                </div>
                <p class="RechargeAmountBenefits_benefit-description__S9Ok5">4GB para Redes Sociales por 30 dias</p>
            </div>
            
            
            <div data-testid="voice_benefit" class="RechargeAmountBenefits_benefit__JqypB">
                <div class="RechargeAmountBenefits_benefit-icon__1CDkF">
                    <img alt="Beneficio de Llamadas" src="{{ url_for('static', filename='img/voice.png') }}" height="32px" />
                </div>
                <p class="RechargeAmountBenefits_benefit-description__S9Ok5">Llamadas Ilimitadas por 30 días</p>
            </div>
            
            <div data-testid="extra_data_benefit" class="RechargeAmountBenefits_benefit__JqypB">
                <div class="RechargeAmountBenefits_benefit-icon__1CDkF">
                    <img alt="Datos Extra" src="{{ url_for('static', filename='img/datos_extra.png') }}" class="RechargeAmountBenefits_extra-data-icon__2AsE1" height="22px" />
                </div>
                <p class="RechargeAmountBenefits_benefit-description__S9Ok5">4GB por 30 días</p>
            </div>
        </div>
    </div>
            </li>
            <li data-testid="recharge-amounts-item" class="GenericRechargeAmountsPage_border-top__3Xm1B">
                <div class="AmountListItem_container__FB-vP">
                    <div class="AmountListItem_amount__3pQq5">
                        <span data-testid="VTC3M0">$ 3.000</span
                        ><button
                            data-testid="VTC3M0-benefits-button"
                            type="button"
                            onclick="toggleContenido3()"
                            class="AmountListItem_amount-benefits-button__1kdiF"
                        >
                            Esta recarga incluye
                            <img class="AmountListItem_amount-benefits-button-arrow__1PVFc AmountListItem_arrow-margin-top__2B9Zz Arrow_arrow__2AYAU Arrow_down__28ZUi" src="{{ url_for('static', filename='/img/arrow.svg') }}" alt="">
                        
                        </button>
                    </div>
                    <div
                        data-testid="cashback-label"
                        class="CashbackLabel_label__container__33QLn AmountListItem_container__cashback-label__g1xDD"
                    >
                        <div class="CashbackLabel_label__percentage__3x1CS">50%</div>
                        <img
                            class="CashbackLabel_label__image__1hXsV"
							src="{{ url_for('static', filename='img/cash-back.svg') }}"
    
                            alt="Cashback"
                        />
                    </div>
                    <button
                        type="submit"
                        value="3000"
                        name="monto"
                        type="button"
                        class="Button-module_button__PM45p"
                        tabindex="0"
                        data-testid="VTC3M0-recargar"
                        style="border-radius: 6px"
                        
                    >
                        <span class="Button-module_button__text__wL8gL">Recargar</span>
                    </button>
                </div>
                <div class="Expandable-module_expandable__section__jBemc">
                    <div
        class="Expandable-module_expandable__content__KkpAI"
        data-target="bodyContainer3"
        data-testid="VTC7M0-benefits-description-hidden"
        style="max-height: 0px; overflow: hidden; transition: max-height 0.3s ease;"
    >
        <div class="AmountBenefitsDescription_amount-benefits-description__1x3B-">
           
            
            <div data-testid="social_media_benefit" class="RechargeAmountBenefits_benefit__JqypB">
                <div class="RechargeAmountBenefits_benefit-icon__1CDkF">
                    <img alt="Redes sociales" src="{{ url_for('static', filename='img/logo_redes_sociales_gratis.svg') }}" height="14px" />
                </div>
                <p class="RechargeAmountBenefits_benefit-description__S9Ok5">2GB para Redes Sociales por 30 dias</p>
            </div>
            
          
            
          
            
            <div data-testid="extra_data_benefit" class="RechargeAmountBenefits_benefit__JqypB">
                <div class="RechargeAmountBenefits_benefit-icon__1CDkF">
                    <img alt="Datos Extra" src="{{ url_for('static', filename='img/datos_extra.png') }}" class="RechargeAmountBenefits_extra-data-icon__2AsE1" height="22px" />
                </div>
                <p class="RechargeAmountBenefits_benefit-description__S9Ok5">2GB por 30 días</p>
            </div>
        </div>
    </div>
                    <div class="Expandable-module_iconContainer__ti0h8"></div>
                </div>
            </li>
            <li data-testid="recharge-amounts-item" class="GenericRechargeAmountsPage_border-top__3Xm1B">
                <div class="AmountListItem_container__FB-vP">
                    <div class="AmountListItem_amount__3pQq5"><span data-testid="VTC2M0">$ 2.000</span></div>
                    <button
                        type="submit"
                        value="2000"
                        name="monto"
                        type="button"
                        class="Button-module_button__PM45p"
                        tabindex="0"
                        data-testid="VTC2M0-recargar"
                        style="border-radius: 6px"
                        
                    >
                        <span class="Button-module_button__text__wL8gL">Recargar</span>
                    </button>
                </div>
                <div class="Expandable-module_expandable__section__jBemc">
                    <div
                        class="Expandable-module_expandable__content__KkpAI"
                        data-target="bodyContainer"
                        data-testid="VTC2M0-benefits-description-hidden"
                        style="max-height: 0px"
                    >
                        <div class="AmountBenefitsDescription_amount-benefits-description__1x3B-"></div>
                    </div>
                    <div class="Expandable-module_iconContainer__ti0h8"></div>
                </div>
            </li>
        </ol>
        
    </div>
</div>
</div>
				</div>


</form>


{% endblock %}